# Node modules
backend/src/dist
backend/node_modules
dummy/


# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Database
*.sqlite
*.sqlite3

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/

# Sequelize CLI migrations/seeders config (if applicable)
.sequelizerc

# Coverage directory (if you use testing)
coverage/

# Build output
dist/
